body>div:first-child {
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: underline;
}

.equal-height {
    height: 65vh;
}

.equal-height-proj {
    height: 30vh;
}

@media only screen and (max-width: 600px){
    .equal-height-proj {
        height: 50vh;
    }
    .equal-height {
        height: 85vh;
    }
}
